/****************MSFT ASP DEFAULT CSS *****************************/
body {
    height: 100%;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #393939;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/


/****************SITE CUSTOM CSS *****************************/
html {
    height: 100%;
    margin: 0;
    padding: 0;
}


.light-grey {
    color: #9d9d9d;
}

@media (max-width: 767px) {
    .navbar-header {
        background-color: #fff;
    }
}

@media (min-width: 768px) {
    .modal-dialog {
        margin-top: 100px;
    }
}

.navbar-inverse {
background-color: #393939;
}

/* EENTERPRISE STYLING 
    #82B9DE  blue
    #199C98 blue-green
    #A9D2A2 green
    #383838 dark grey header

*/

ul.main-navigation-menu > li a > i {
    color: #199C98;
}

ul.main-navigation-menu > li.active > a {
    background-color: #82B9DE;
    /*border-top: none !important;
     color: #fff;*/
}

.navbar-inverse .navbar-brand i, .navbar-inverse .navbar-brand:hover i {
    color: #A9D2A2;
}

ul.main-navigation-menu > li.active > a .selected:before {
    color: #82B9DE !important;
}

.label-eecip-bluegreen, .badge-eecip-bluegreen {
    background-color: #199C98 !important;
    border-color: #199C98 !important;
}

.panel-tools .btn.expand:before {
    content: "\e161";
    display: inline;
    float: right;
    font-family: 'clip-font';
    font-weight: 300;
    height: auto;
    text-shadow: none;
}

.panel-tools .btn.collapses:before {
    content: "\e164";
    display: inline;
    float: right;
    font-family: 'clip-font';
    font-weight: 300;
    height: auto;
    text-shadow: none;
}


.clip-chevron-left {
    color: #199C98;
}


.clip-chevron-right {
    color: #199C98;
}

.footer-inner > a > img {
    height: 30px;
    padding-right: 10px;
}
.footer-items {
    text-align: right;
}
    .footer-items > a {
        color: #666;
        padding: 5px;
    }


.validation-summary-errors {
    color: darkred;
    background-color: pink;
    border-width: 1px;
    border-radius: 5px;
    border-color: darkred;
    border-style: solid;
}

.field-validation-error {
    color: red;
}

.nav > li.dropdown .dropdown-toggle .badge-green {
    background-color: #097e00;
    border: none;
}


/***************     TAG STYLING     ******************/

.select2-selection__choice {
    border: none !important;
    background-color: #6fa8e3 !important;
    color: #fff !important;
    border-radius: 0 3px 3px 0 !important;
    text-transform: uppercase !important;
    font-size: 12px !important;
    margin-right: 6px !important;
    margin-left: 6px !important;
    padding: 0 4px 0 2px !important;
    display: inline-block !important;
    /*line-height: 19px !important;
    height: 19px !important;*/
    position: relative !important;
    margin-right: 10px !important;
}
    .select2-selection__choice:hover {
        background-color: #4891dc !important;
    }
    .select2-selection__choice:before {
        content: "";
        float: left;
        position: absolute;
        top: 0;
        left: -6px;
        width: 0;
        height: 0;
        border-color: transparent #6fa8e3 transparent transparent;
        border-style: solid;
        border-width: 9px 6px 9px 0;
    }
    .select2-selection__choice:hover::before {
        border-color: transparent #4891dc transparent transparent;
    }

.select2-selection__choice__remove {
    color:#fff !important;
}


/*     TOASTR CUSTOM STYLING     */
.toast-top-right {
    top: 62px;
}


/***************     PANEL REDESIGN     ******************/

/*.panel-default {
    border-color: #337ab7;
    background-color:#fcfcfc;
}
    .panel-default > .panel-heading {
        background-color: #82B9DE;
        background-image: linear-gradient(to bottom, #c3e1f4 0%, #82B9DE 100%);
        font-size: 14px;
        padding-top: 8px;
        font-weight: bold;
        border-radius: 3px 3px 0 0;
        box-shadow: 0 0 0 #FFFFFF inset;
    }

.btn-primary {
    background-color: #82B9DE;
    border-color: #2e6da4;
}*/


/************************SELECT 2 STYLING  ******************/
.select2 {
    display:block;
}

/*.form-group .select2-container {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    display: table;
    table-layout: fixed;
}

@media screen and (max-width: 767px) {
    .select2 {
        width: 100% !important;
    }
}*/


/************************CARD STYLING  ******************/

.div-card {
    padding: 5px;
    background-color: rgba(25, 156, 152, 0.26);
    border: 1px solid rgba(25, 156, 152, 1);
    min-height: 120px;
    font-size: 14px;
    border-radius: 8px;
    /*height: 120px;*/
}

    .div-card > dl {
        margin-bottom: 0px;
    }

.dl-horizontal dt {
    width: 220px;
    padding-right: 10px;
}


/************************ USER CARD STYLING  ******************/
.aligned-row {
    display: flex;
    flex-flow: row wrap;
    &::before

{
    display: block;
}

}



.circle-tile {
    margin-bottom: 15px;
    text-align: center;
}
.circle-tile-heading {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto -40px;
    border: 3px solid rgba(200,200,200,1);
    border-radius: 10px;
    color: #fff;
    transition: all ease-in-out .3s;
    background-size: 75px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #333;
}

    .circle-tile-heading:hover {
        background-size: 80px;
    }

    .circle-tile-heading .fa {
        line-height: 80px;
    }

.circle-tile-content {
    padding-top: 50px;
    border-radius: 8px
}

/*.circle-tile-description {
    text-transform: uppercase;
}*/

.circle-tile-title {
    margin: 0;
    padding: 5px;
}

.circle-tile-buttons {
    margin-bottom: 10px;
}

    .circle-tile-buttons > a {
        font-size: 12px;
    }

.text-faded {
    color: rgba(255,255,255,0.7);
}

.circle-tile-number {
    padding: 5px 0 5px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
}

.circle-tile-footer {
    display: block;
    padding: 5px;
    color: rgba(255,255,255,0.5);
    background-color: rgba(0,0,0,0.1);
    transition: all ease-in-out .3s;
    border-radius: 0 0 8px 8px;
}

    .circle-tile-footer:hover {
        text-decoration: none;
        color: rgba(255,255,255,0.5);
        background-color: rgba(0,0,0,0.4);
    }

.dark-blue {
    background-color: #34495e;
}

.green {
    background-color: #16a085;
}

.orange {
    background-color: #f39c12;
}

.blue {
    background-color: #2980b9;
}

.red {
    background-color: #e74c3c;
}

.purple {
    background-color: #8e44ad;
}

/* -- Text Color Helper Classes */

.text-dark-blue {
    color: #34495e;
}

.text-green {
    color: #16a085;
}

.text-orange {
    color: #f39c12;
}

.text-blue {
    color: #2980b9;
}

.text-red {
    color: #e74c3c;
}

.text-purple {
    color: #8e44ad;
}


/***********************FORUM ********************************/

/* Side Boxes */
.side-box {
    padding: 0 0 20px 0;
}

    .side-box a, .side-box a:visited {
        color: #3b3b3b;
    }

    .side-box h5 {
        font-size: 12px;
        color: #636267;
        text-transform: uppercase;
        border-bottom: 1px solid #ecf0f1;
        padding-bottom: 8px;
        margin-bottom: 12px;
    }

@media (max-width: 991px) {
    .side-box {
        float: left;
        width: 50%;
    }
}

@media (max-width: 600px) {
    .side-box {
        float: none;
        width: auto;
        padding: 0 0 25px 0;
    }
}

/* Side Boxes - Category */
.categories-box ul {
    padding: 0;
    margin: 0;
}

    .categories-box ul li {
        margin: 2px 0;
        list-style: none;
    }

        .categories-box ul li a, .categories-box ul li a:visited {
            border-left: 5px #ecf0f1 solid;
            padding-left: 8px;
        }

        .categories-box ul li ul {
            padding-left: 15px;
        }

            .categories-box ul li ul li a, .categories-box ul li ul li a:visited {
                font-size: 12px;
            }
