/****************MSFT ASP DEFAULT CSS *****************************/
body {
    height: 100%;
    margin: 0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/


/****************SITE CUSTOM CSS *****************************/
/* EENTERPRISE STYLING 
    #82B9DE  blue
    #199C98 blue-green
    #A9D2A2 green
    #383838 dark grey header

*/

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.text-bold {
    font-weight:600;
}

.light-grey {
    color: #9d9d9d;
}

.label-eecip-bluegreen, .badge-eecip-bluegreen {
    background-color: #199C98 !important;
    border-color: #199C98 !important;
}

@media (min-width: 768px) {
    .modal-dialog {
        margin-top: 100px;
    }
}

.validation-summary-errors {
    color: darkred;
    background-color: pink;
    border-width: 1px;
    border-radius: 5px;
    border-color: darkred;
    border-style: solid;
}

.field-validation-error {
    color: red;
}

.table {
    margin-bottom:0px;
}

.thead-default th {
    color: #464a4c;
    background-color: #eceeef;
}

.thead-inverse th {
    color: #fff;
    background-color: #4F4F4F;
}

/***************     TOP AND LEFT MENU STYLING     ******************/
.navbar-inverse {
background-color: #393939;
}
    .navbar-inverse .navbar-brand i, .navbar-inverse .navbar-brand:hover i {
        color: #A9D2A2;
    }

.nav > li.dropdown .dropdown-toggle .badge-green {
    background-color: #097e00;
    border: none;
}

ul.main-navigation-menu > li a > i {
    color: #199C98;
}

ul.main-navigation-menu > li.active > a {
    background-color: #199C98;  /*#82B9DE;*/
}

    ul.main-navigation-menu > li.active > a .selected:before {
        color: #199C98 !important;
    }

.clip-chevron-left {
    color: #199C98;
}

.clip-chevron-right {
    color: #199C98;
}


/***************     BREADCRUMB STYLING     ******************/
.breadcrumb {
    font-size: 11px;
    background: none;
    padding: 0 0 5px 0;
    margin: -12px 0 0 0;
}
    .breadcrumb a, .breadcrumb a:visited {
        color: #636267;
    }

/***************     FOOTER STYLING     ******************/
.footer-inner > a > img {
    height: 30px;
    padding-right: 10px;
}

.footer-items {
    text-align: right;
}

    .footer-items > a {
        color: #666;
        padding: 5px;
    }



/***************     PANEL STYLING     ******************/
.panel-tools .btn.expand:before {
    content: "\e161";
    display: inline;
    float: right;
    font-family: 'clip-font';
    font-weight: 300;
    height: auto;
    text-shadow: none;
}

.panel-tools .btn.collapses:before {
    content: "\e164";
    display: inline;
    float: right;
    font-family: 'clip-font';
    font-weight: 300;
    height: auto;
    text-shadow: none;
}

.panel-footer {
    padding: 5px 15px;
}


.panel-default.danger {
    border-color: #dc3545;
}

    .panel-default.danger > .panel-heading {
        color: #dc3545 !important;
        border-bottom-color: #dc3545 !important;
        background-image: linear-gradient(to bottom, #fbe3e3 0%, #fbf0f0 100%);
    }


.panel-default.ee {
    border-color: #199C98;
}

    .panel-default.ee > .panel-heading {
        color: #094e4c !important;
        border-bottom-color: #199C98 !important;
        background-image: linear-gradient(to bottom, #fff 0%, #92d8d6 100%);
    }

.panel-heading {
    font-size: 15px;
    font-weight: 600;
    padding-top: 8px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    color: #646464 !important;
    border-bottom: solid 2px #199C98 !important;
    padding-left: 10px;
    min-height: 40px;
    padding-bottom: 20px !important;
}

    .panel-heading > .panel-tools:hover {
        background-color: #B3B3B3;
    }


/***************     TAG STYLING     ******************/

.select2-selection__choice {
    border: none !important;
    background-color: #6fa8e3 !important;
    color: #fff !important;
    border-radius: 0 3px 3px 0 !important;
    text-transform: uppercase !important;
    font-size: 12px !important;
    margin-right: 6px !important;
    margin-left: 6px !important;
    padding: 0 4px 0 2px !important;
    display: inline-block !important;
    /*line-height: 19px !important;
    height: 19px !important;*/
    position: relative !important;
    margin-right: 10px !important;
}
    .select2-selection__choice:hover {
        background-color: #4891dc !important;
    }
    .select2-selection__choice:before {
        content: "";
        float: left;
        position: absolute;
        top: 0;
        left: -6px;
        width: 0;
        height: 0;
        border-color: transparent #6fa8e3 transparent transparent;
        border-style: solid;
        border-width: 9px 6px 9px 0;
    }
    .select2-selection__choice:hover::before {
        border-color: transparent #4891dc transparent transparent;
    }

.select2-selection__choice__remove {
    color:#fff !important;
}


/***************     TOASTR STYLING     ******************/
.toast-top-right {
    top: 62px;
}




/************************SELECT 2 STYLING  ******************/
.select2 {
    display:block;
}

/*.form-group .select2-container {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    display: table;
    table-layout: fixed;
}

@media screen and (max-width: 767px) {
    .select2 {
        width: 100% !important;
    }
}*/


/************************CARD STYLING  ******************/

.div-card {
    padding: 5px;
    background-color: rgba(25, 156, 152, 0.26);
    border: 1px solid rgba(25, 156, 152, 1);
    min-height: 120px;
    font-size: 14px;
    border-radius: 8px;
    /*height: 120px;*/
}

    .div-card > dl {
        margin-bottom: 0px;
    }

.dl-horizontal dt {
    width: 220px;
    padding-right: 10px;
}


/************************ USER CARD STYLING  ******************/
.aligned-row {
    display: flex;
    flex-flow: row wrap;
}
    .aligned-row:before {
        display: block;
    }


.circle-tile {
    margin-bottom: 15px;
    text-align: center;
}
.circle-tile-heading {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto -40px;
    border: 3px solid rgba(200,200,200,1);
    border-radius: 10px;
    color: #fff;
    transition: all ease-in-out .3s;
    background-size: 75px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #333;
}

    .circle-tile-heading:hover {
        background-size: 80px;
    }

    .circle-tile-heading .fa {
        line-height: 80px;
    }

.circle-tile-content {
    padding-top: 50px;
    border-radius: 8px
}

/*.circle-tile-description {
    text-transform: uppercase;
}*/

.circle-tile-title {
    margin: 0;
    padding: 5px;
}

.circle-tile-buttons {
    margin-bottom: 10px;
}

    .circle-tile-buttons > a {
        font-size: 12px;
    }

.text-faded {
    color: rgba(255,255,255,0.7);
}

.circle-tile-number {
    padding: 5px 0 5px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
}

.circle-tile-footer {
    display: block;
    padding: 5px;
    color: rgba(255,255,255,0.5);
    background-color: rgba(0,0,0,0.1);
    transition: all ease-in-out .3s;
    border-radius: 0 0 8px 8px;
}

    .circle-tile-footer:hover {
        text-decoration: none;
        color: rgba(255,255,255,0.5);
        background-color: rgba(0,0,0,0.4);
    }

.dark-blue {
    background-color: #34495e;
}

.green {
    background-color: #16a085;
}

.orange {
    background-color: #f39c12;
}

.blue {
    background-color: #2980b9;
}

.red {
    background-color: #e74c3c;
}

.purple {
    background-color: #8e44ad;
}

/* -- Text Color Helper Classes */

.text-dark-blue {
    color: #34495e;
}

.text-green {
    color: #5cb85c;
}

.text-orange {
    color: #f39c12;
}

.text-blue {
    color: #2980b9;
}

.text-red {
    color: #e74c3c;
}

.text-purple {
    color: #8e44ad;
}



/*************************************************************************************************************************************************/
/*************************************************************************************************************************************************/
/***********************FORUM STYLING ************************************************************************************************************/
/*************************************************************************************************************************************************/
.btn-mvc, .btn-mvc:visited {
    display: inline-block;
    padding: 7px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    -ms-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    background-color: #efefef;
    color: #333;
}

.btn-mvc-small, .btn-mvc-small:visited {
    padding: 5px 12px;
    font-size: 12px;
    line-height: 12px;
}

.btn-mvc-fullwidth, .btn-mvc-fullwidth:visited {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    display: block;
}

.btn-mvc-large, .btn-mvc-large:visited {
    padding: 9px 25px;
    font-size: 19px;
    line-height: 19px;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.postuploadholder p {
    text-align: right;
}

.postuploadedfilesholder ul li {
    padding: 0 10px 4px 0;
    margin: 0;
    list-style: none;
    display: inline-block;
}

.postuploadedfilesholder ul li a.fileupload, .postuploadedfilesholder ul li a:visited.fileupload {
    text-decoration: none;
}

.postuploadedfilesholder ul li a.fileupload .glyphicon, .postuploadedfilesholder ul li a:visited.fileupload .glyphicon {
    color: #B3B3B3;
    font-size: 36px;
}

.postedfilename {
    font-size: 12px;
    color: #636267;
}

/* FORUM Side Boxes */
.side-box {
    padding: 0 0 20px 0;
}

    .side-box a, .side-box a:visited {
        color: #3b3b3b;
    }

    .side-box h5 {
        font-size: 12px;
        color: #636267;
        text-transform: uppercase;
        border-bottom: 1px solid #ecf0f1;
        padding-bottom: 8px;
        margin-bottom: 12px;
    }

@media (max-width: 991px) {
    .side-box {
        float: left;
        width: 50%;
    }
}

@media (max-width: 600px) {
    .side-box {
        float: none;
        width: auto;
        padding: 0 0 25px 0;
    }
}

/* FORUM Side Boxes - Category */
.categories-box ul {
    padding: 0;
    margin: 0;
}

    .categories-box ul li {
        margin: 2px 0;
        list-style: none;
    }

        .categories-box ul li a, .categories-box ul li a:visited {
            border-left: 5px #ecf0f1 solid;
            padding-left: 8px;
        }

        .categories-box ul li ul {
            padding-left: 15px;
        }

            .categories-box ul li ul li a, .categories-box ul li ul li a:visited {
                font-size: 12px;
            }


span.tag {
    display: inline-block;
    line-height: 19px;
    height: 19px;
    position: relative;
    -ms-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    background-color: #6fa8e3;
    color: #fff;
    font-size: 10px;
    margin-right: 6px;
    padding: 0 4px 0 2px;
    text-transform: uppercase;
}

    span.tag:before {
        content: "";
        float: left;
        position: absolute;
        top: 0;
        left: -6px;
        width: 0;
        height: 0;
        border-color: transparent #6fa8e3 transparent transparent;
        border-style: solid;
        border-width: 9px 6px 9px 0;
    }

span.tag a, span.tag a:visited {
    color: #fff;
    text-decoration: none;
    display: block;
    line-height: 18px;
    height: 18px;
}

    span.tag .badge {
        background-color: #4891dc;
        font-size: 10px;
        margin-top: -1px;
    }

.popular-tags-box ul {
    padding: 0 0 0 6px;
    margin: 0 0 0 0;
}

    .popular-tags-box ul li {
        list-style: none;
        margin: 0;
        padding: 0 0 3px 0;
        display: inline-block;
    }


.tagsinput {
    padding: 0 0 8px 10px;
    width: auto !important;
    min-height: 10px !important;
    height: auto !important;
}


/*   FORUM VIEW TOPICS / POSTS  */
.topicshow .topicheading {
    margin-bottom: 20px;
}

    .topicshow .topicheading h1 {
        font-size: 26px;
        margin-bottom: 19px;
    }

.widgetright {
    float: right;
    margin: 2px 0 10px 10px;
}

    .widgetright a, .widgetright a:visited {
        margin-left: 8px;
        color: #2c2c2c;
        font-size: 13px;
    }


.topicshow .topicheading .topicinfo {
    display: block;
    clear: both;
    padding: 0;
    margin: 0;
    color: #B3B3B3;
    font-size: 12px;
    font-weight: 300;
}

    .topicshow .topicheading .topicinfo li {
        list-style: none;
        display: inline-block;
        padding: 0 8px 0 0;
    }

.topicstarterpost {
    border-bottom: 2px #f2f2f2 solid;
}

.topicstarterpostbeginpostsheading {
    padding-bottom: 3px;
}

.topicpostorderfilter {
    text-align: right;
}

.post {
    border-top: 1px #f2f2f2 solid;
    padding: 15px 0 15px 0;
}

.postadmin {
    float: right;
    width: 70px;
}
    .postadmin ul {
        padding: 0;
        margin: 0;
    }
        .postadmin ul li {
            list-style: none;
            text-align: right;
            padding: 0 0 2px 0;
        }

.postbodytop {
    color: #B3B3B3;
    font-size: 13px;
    font-weight: 300;
    padding-bottom: 10px;
}

.postsocial {
    padding-bottom: 10px;
    color: #b3b3b3;
}

    .postsocial ul li {
        list-style: none;
        display: inline-block;
        padding: 0 4px 0 0;
        font-size: 13px;
    }


.solutionlink:hover {
    text-decoration: none;
}

.solutionlink.solution {
    color: #5cb85c;
}
    .solutionlink.solution:hover {
        color: #5cb85c;
    }


.categoryrow {
    border-bottom: 1px #f2f2f2 solid;
    padding: 15px 0 15px 0;
}
    .categoryrow h2 {
        border-left: 5px #83b6b9 solid;
        padding-left: 8px;
    }

    .categoryrow a, .categoryrow a:visited {
        color: #2c2c2c;
    }

.categoryrowfooter {
    color: #B3B3B3;
    font-size: 13px;
    font-weight: 300;
    padding-bottom: 10px;
}

.rowcreater {
    float: left;
    width: 60px;
    text-align: center;
}

    .rowcreater img {
        -ms-border-radius: 10px;
        border-radius: 10px;
        max-width: 50px;
    }


.subcategoryholder {
    border-top: 1px #ecf0f1 solid;
    border-bottom: 1px #ecf0f1 solid;
    padding: 4px 0;
    margin: 4px 0;
}
    .subcategoryholder ul li {
        list-style: none;
        display: inline-block;
        padding: 7px 7px 7px 0;
    }

    .subcategoryholder ul li a, .subcategoryholder ul li a:visited {
        border-left: 5px #83b6b9 solid;
        padding-left: 8px;
    }

.topicrowfooterinfo {
    line-height: 16px;
    font-size: 12px;
    color: #b3b3b3;
    font-weight: 300;
    padding: 4px 0 0 0;
}

.rowdetails {
    margin-left: 70px;
}

.topicrow {
    padding: 15px;
    border-bottom: solid #f2f2f2 1px;
}

    .topicrow:hover {
        background-color: #ecf0f1;
    }

    .topicrow .rowdetails h3 {
        margin: 6px 0;
        padding: 0;
    }

        .topicrow .rowdetails h3 a, .topicrow .rowdetails h3 a:visited {
            font-size: 22px;
            color: #494848;
            font-weight: 600;
            margin-top: 7px;
            line-height: 26px;
            text-decoration: none;
        }

            .topicrow .rowdetails h3 a:hover, .topicrow .rowdetails h3 a:focus, .topicrow .rowdetails h3 a:visited:hover, .topicrow .rowdetails h3 a:visited:focus {
                color: #373737;
                text-decoration: underline;
            }

    .topicrow p.category {
        line-height: 16px;
        font-size: 12px;
        color: #b3b3b3;
        padding: 0 0 0 10px;
        margin: 0;
        border-left: 3px solid #ccc;
    }




/***badges*/
.publicbadgeline {
    /*padding: 12px 0;*/
    /*border-bottom: 1px #ecf0f1 solid;*/
    float: left;
}

    .publicbadgeline p {
        margin: 0;
        padding: 0;
    }

    .publicbadgeline .publicbadge {
        text-align: center;
    }
    
    .publicbadgeline .publicbadgename {
        font-size: 18px;
        margin-bottom: 4px;
    }

    .publicbadgeline .publicbadgenamedesc {
        font-weight: 300;
    }

    .publicbadgeline .publicbadgeawards {
        color: #636267;
        font-weight: 300;
        font-style: italic;
        font-size: 12px;
        margin-bottom: 8px;
    }

.publicbadge {
    padding-top: 10px;
    border: solid 1px #fff;
}
    .publicbadge:hover {
        background-color: #f2f2f2;
        border: solid 1px #B3B3B3;
    }


.publicbadge > img.grey {
    filter: grayscale(100%);
    opacity: 0.3;
}



