@model EECIP.Models.vmForumTopicCreate
@{
    ViewBag.Title = "Create Discussion Topic";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="createtopicholder">

            @using (Html.BeginForm("Create", "Forum", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.Partial("CreateEdit_TopicPost", Model)
            }

        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/select2")

    <script type="text/javascript">
        $(document).ready(function () {

            var counter = @(Model.PollAnswers != null ? Model.PollAnswers.Count : 0);

            //function to initiate Select2
            $(".search-select").select2({
                placeholder: "",
                allowClear: true,
                tags: true,
                width: ''
            });


            //file upload display filename
            $("input[id='files']").change(function (e) {
                var $this = $(this);
                var FileSize = this.files[0].size / 1024 / 1024;
                if (FileSize > 20) {
                    $('#files').val('');
                    alert('Discussion files cannot exceed 20 MB');
                }
                else {
                    $("#filename1").val($this.val().split('\\').pop());
                }
            });


            // Remove the polls
            $(".removepollbutton").click(function (e) {
                e.preventDefault();
                //Hide the Poll Section
                $('.pollanswerholder').hide();
                $('.pollanswerlist').html("");
                // Hide this button now
                $(this).hide();
                // Show the add poll button
                $(".createpollbutton").show();
                counter = 0;
            });

            // Create Polls
            $(".createpollbutton").click(function (e) {
                e.preventDefault();
                //Firstly Show the Poll Section
                $('.pollanswerholder').show();
                // Now add in the first row
                AddNewPollAnswer(counter);
                counter++;
                // Hide this button now
                $(this).hide();
                // Show the remove poll button
                $(".removepollbutton").show();
            });

            // Add a new answer
            $(".addanswer").click(function (e) {
                e.preventDefault();
                AddNewPollAnswer(counter);
                counter++;
            });

            // Remove a poll answer
            $(".removeanswer").click(function (e) {
                e.preventDefault();
                if (counter > 0) {
                    counter--;
                    $("#answer" + counter).remove();
                }
            });
        });

        function AddNewPollAnswer(counter) {
            var placeHolder = $('#pollanswerplaceholder').val();
            var liHolder = $(document.createElement('li')).attr("id", 'answer' + counter);
            liHolder.html('<input type="text" name="PollAnswers[' + counter + '].Answer" id="PollAnswers_' + counter + '_Answer" class="form-control" value="" placeholder="' + placeHolder + '" />');
            liHolder.appendTo(".pollanswerlist");
        }

    </script>
}
