<div class="row">
    <div class="col-md-9">

    </div>
    <div class="col-md-3 sidelayoutsection">
        <div class="main-side-box clearfix">
            @if (User.Identity.IsAuthenticated)
            {
            <div class="createtopicbutton">
                <a href="@Url.Action("Create", "Topic")" class="btn btn-success btn-lg btn-block">
                    New Discussion
                </a>
            </div>
            }

            @Html.Partial("_CommonSideNav")
            @*@RenderSection("side", false)*@
        </div>
    </div>
</div>