@{
    ViewBag.Title = "Latest Discussions";
}
<div class="row">
    <div class="col-md-9">

        @*@Html.Action("ListMainCategories", "Forum")*@
        @Html.Action("LatestTopics", "Forum")
    </div>

    @Html.Partial("_CommonSideNav")
    @*@RenderSection("side", false)*@
</div>

<script src="https://cdn.getchaperone.com/embed/chaperone.js"></script>
<script type="text/javascript">
        Chaperone.init({
            "api_key": "lBuTEvIH43bg5g",
            //"trigger": {
            //    "element": "#btnTour",
            //    "event": "click",
            //    "tutorial": 4074
            //}
        });
</script>