<div class="topadminsubnav">
    <div class="btn-group" role="group">
        <a href="@Url.Action("Category")" role="button" class="btn btn-success">Manage Categories</a>
        <a href="@Url.Action("CreateCategory")" role="button" class="btn btn-success">Create New</a>
    </div>
</div>
