@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="wrapper wrapper-grey">
    <!-- start: GENERIC CONTENT CONTAINER -->
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="~/Content/Images/front-logo.png" class="img-responsive animate-if-visible" data-animation-options='{"animation":"tada", "duration":"600"}'/>
            </div>
            <div class="col-sm-6">
                <h2 style="color:#199C98">e-Enterprise Community Inventory Platform</h2>
                <hr class="fade-right">
                <p>
                    Lid est laborum dolo rumes fugats untras. Etha rums ser quidem rerum facilis dolores nemis onis fugats vitaes nemo minima rerums unsers sadips amets.
                </p>
                <p>
                    Ut enim ad minim veniam, quis nostrud Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci amets uns.
                </p>
                <p>
                    Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips ameet quasi architecto beatae vitae dicta sunt explicabo.
                </p>
                <hr class="fade-right">
                <a class="btn btn-success" href="@Url.Action("Login","Account")" style="margin-right:30px;"><i class="clip-arrow-right"></i> Log In</a>
                <a class="btn btn-primary" href="@Url.Action("Register","Account")"><i class="clip-arrow-right"></i> Register</a>
            </div>
        </div>
    </div>
    <!-- end: GENERIC CONTENT CONTAINER -->
</section>
<section>
    <!-- start: CORE BOXES CONTAINER -->
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="core-box">
                    <div class="heading">
                        <i class="clip-mobile circle-icon"></i>
                        <h2 style="color:#199C98">Feature 1</h2>
                    </div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    </div>
                    <a class="view-more" href="#">
                        View More <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="core-box">
                    <div class="heading">
                        <i class="clip-clip circle-icon"></i>
                        <h2 style="color:#199C98">Feature 2</h2>
                    </div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    </div>
                    <a class="view-more" href="#">
                        View More <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="core-box">
                    <div class="heading">
                        <i class="clip-cogs circle-icon"></i>
                        <h2 style="color:#199C98">Feature 3</h2>
                    </div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    </div>
                    <a class="view-more" href="#">
                        View More <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- end: CORE BOXES CONTAINER -->
</section>