

<div class="col-md-3 col-sm-4 col-xs-6">
    <button class="btn btn-icon btn-block">
        <i class="clip-clip"></i>
        Projects <span class="badge badge-info"> 4 </span>
    </button>
</div>
