<!-- BEGIN: VALIDATION SUMMARY -->
@if (TempData["Error"] != null)
{
    <div class="errorHandler alert alert-danger">
        <button data-dismiss="alert" class="close">×</button>
        <i class="clip-info-2"></i> @TempData["Error"] 
    </div>
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success ">
        <button data-dismiss="alert" class="close">x×</button>
        <i class="clip-info-2"></i> @TempData["Success"]
    </div>
}


<!-- END: VALIDATION SUMMARY -->
