@using (Html.BeginForm("Newsletter", "Admin", FormMethod.Post, new { @class = "", @id = "norepostform", style = "display: inline; padding-right:10px" }))
{
    <button type="submit" name="submitButton" class="btn btn-danger">Run Newsletter</button>
}
