@{
    ViewBag.Title = "Project Update Tracker";
    ViewBag.SubTitle = "Track whether project updates have been .";
}

<!-- render the main content -->
<div class="row">
    <div class="col-md-4">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Date Range
                </label>
                <div class="col-sm-3">
                    <input class="form-control" />
                </div>
                <div class="col-sm-3">
                    <input class="form-control" />
                </div>
            </div>
        </form>
    </div>

    <div class="col-sm-8">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Select Agency:
                </label>
                <div class="col-sm-5">
                    <select class="form-control" id="selAgency" name="selAgency" onchange="document.location.href = '/Dashboard/Projects?selAgency=' + this.options[this.selectedIndex].value;">
                        <option value=""></option>
                        <option value="8797d4bc-7fe3-4c4b-99f6-36d3031c35cd">Alabama Department of Conservation and Natural Resources</option>
                        <option value="32ecfae0-8de1-4307-8fcf-a3797f11cf58">Alabama Department of Environmental Management</option>
                        <option value="8e363ab7-58fe-45e0-9e57-8499a842b02d">Alabama Department of Public Health</option>
                        <option value="8b88a608-20f1-4a89-99ac-6c4cef8c57c6">Alaska Department of Environmental Conservation</option>
                        <option value="2d5d5394-8f73-4fc4-a48a-650cb0c00f53">Alaska Department of Health and Social Services </option>
                        <option value="90958cd6-93fe-488c-bbb7-09d2a76449f7">Alaska Department of Natural Resources</option>
                        <option value="14f99350-8d89-4145-8ccf-0d9f85922d64">Alaska Inter-Tribal Council</option>
                        <option value="fefe3576-9e65-4d4c-bca3-f18931dac9e5">Allegheny County Health Department</option>
                        <option value="3c913db9-c26d-4272-a7af-c67059560374">American Samoa Environmental Protection Agency</option>
                        <option value="1b4211df-7f52-46ee-b5e1-da6ce6ff98c6">Amphitheater Public Schools</option>
                        <option value="a45b71bf-9404-4f98-86a6-af82b04d5179">Arizona Department of Environmental Quality</option>
                        <option value="230eec43-7aee-44a0-96e1-0c5177df0a65">Arizona Department of Health Services</option>
                        <option value="212a963e-3f64-4c59-b0ca-a6bd255e059f">Arkansas Department of Environmental Quality</option>
                        <option value="188b5bf3-60d9-49cc-beb8-55230df3b242">Arkansas Department of Health</option>
                        <option value="0781e3a5-7278-45b7-95ed-edab5fdbbd54">Aroostook Band Of Micmacs</option>
                        <option value="356820a0-86a1-4879-a494-2e36974d28c4">Association of Air Pollution Control Agencies (AAPCA)</option>
                        <option value="858bfc26-d1ce-4fac-8d2a-087a3344c1cc">Association of Clean Water Administrators (ACWA)</option>
                        <option value="3bc4172d-5de4-47f2-b7cf-59b31c6e1d12">Association of Public Health Laboratories</option>
                        <option value="991ba306-490f-4313-83e5-6504ddfad2e4">Association of State And Territorial Solid Waste Management Officials (ASTSWMO)</option>
                        <option value="67cded3c-0799-4402-9be4-454fe2c4fd64">Association of State Drinking Water Administrators (ASDWA)</option>
                        <option value="aaace90a-76f1-4e42-8633-954eff37529a">Bad River Natural Resources Department</option>
                        <option value="0dda37d3-29ea-4f37-92b9-fb016fab2947">Baltimore County Government</option>
                        <option value="94860149-7762-464e-9d7b-b1ab1d1ad0be">Bay Area Air Quality Management District</option>
                        <option value="c2e2631f-de22-4cb9-8f21-b7afbc1b3914">Big Pine Paiute Tribe</option>
                        <option value="a879aef0-46e1-49ea-94f2-6773acc0b9f2">Big Valley Band of Pomo Indians</option>
                        <option value="e461e21a-957b-4e4d-8214-0a1badbc5acb">Big Valley Rancheria Band of Pomo Indians</option>
                        <option value="efe70cfe-138d-4c66-8f9b-456c75cfb8a3">Bishop Indian Tribal Council</option>
                        <option value="70988685-e91a-4a52-a2ba-ff237f7c3c05">Buena Vista Rancheria of Me-Wuk Indians</option>
                        <option value="b74a6167-3047-4725-84d2-7847cb48aba2">Bureau of Indian Affairs, US Department of Interior</option>
                        <option value="7b341661-03f8-4e4d-b7ce-ecbfe600c77b">Caddo Indian Tribe of Oklahoma</option>
                        <option value="9cd57948-64ea-41d2-9ead-c6a0f976b1b4">California Air Resources Board</option>
                        <option value="0b2fbff1-4dd6-472b-9e75-cb217f010214">California Department of Conservation</option>
                        <option value="edaf7c14-c864-4c92-afc0-ef5c56232c1a">California Department of Health Services</option>
                        <option value="89515fa6-400c-40a4-b515-575c2ca9dc56">California Department of Public Health</option>
                        <option value="61f4f241-5148-4a27-afc2-f6f878b9cf10">California Environmental Protection Agency</option>
                        <option value="b6739f79-4127-4b8c-b21c-e98812a910e2">California EPA, Department of Toxic Substances Control</option>
                        <option value="b5dd94ed-3414-48ee-befc-8e3755131d31">California State University, Sacramento</option>
                        <option value="c1816dd9-445b-4a53-90c1-51defd1c3de3">California State Water Resources Control Board</option>
                        <option value="2a1997a8-c771-4eeb-b47a-d235c72c6526">Campo Kumeyaay Nation</option>
                        <option value="e00174ff-e147-43c8-ae26-929b9779e54f">CDC</option>
                        <option value="22f91bcb-5d88-47fb-9fc9-a9bd945e3acc">Central Council Tlingit and Haida</option>
                        <option value="1edc69e2-bcc0-4d92-ab28-20c95cd8e40c">Central States Air Resource Agencies</option>
                        <option value="2583cd6f-fffe-44a3-bfbd-71cbbbe9ba99">CGI Federal</option>
                        <option value="b94cf649-15f0-4d73-bc17-e44dc9529c67">Cherokee Nation</option>
                        <option value="4bc00f53-5059-4722-8178-42ddd3e5175a">Chickaloon Native Village</option>
                        <option value="34abd760-81bb-4e18-b915-a68e8ceb7375">Choctaw Nation of Oklahoma</option>
                        <option value="61011ee6-e22b-4b53-9f4d-40f9353c1292">City of Indianapolis</option>
                        <option value="64d19274-1b68-4bf8-860e-9478af52535a">City of Kirkland</option>
                        <option value="ec55138b-e932-4cf4-b5ec-c2e33c16eb23">Clark County Department of Environment and Sustainability</option>
                        <option value="4fc8c137-7e76-494f-a0f1-429d2873b4f2">Coeur d'Alene Tribe</option>
                        <option value="3def5760-4ef3-49f2-9f03-1ab121866886">Colorado Department of Labor &amp; Employment</option>
                        <option value="8591f2a1-ce8c-43d0-921a-39e88601be2a">Colorado Department of Public Health and Environment </option>
                        <option value="11e93b1b-868e-4adf-a5f1-988712965bcc">Colorado River Indian Tribes, Parker Arizona </option>
                        <option value="319ec0d5-debd-4be3-bd96-9a8311697d49">Columbia River Inter-Tribal Fish Commission</option>
                        <option value="01c84f39-032f-42e5-95a5-620fb269927c">Confederated Salish &amp; Kootenai  Tribal Council</option>
                        <option value="a66ac00e-7c9a-4eb9-982e-592845db2e06">Confederated Tribes and Bands of the Yakama Nation</option>
                        <option value="28429c6d-de55-4fa4-9cdb-313633a110f7">Confederated Tribes of Coos, Lower Umpqua, and Siuslaw Indians</option>
                        <option value="98acd625-b7c7-455d-9d73-edf2cd798e40">Confederated Tribes of the Chehalis Reservation</option>
                        <option value="ed08d6fd-936b-4ebc-8b6f-a613e312e7ef">Confederated Tribes of the Umatilla Indian Reservation</option>
                        <option value="cb786030-7798-4c3e-8ea4-72621ab1a3da">Confederated Tribes of Warm Springs</option>
                        <option value="c3cb59e6-f644-42b7-a4aa-a209ace8f715">Connecticut Department of Energy and Environmental Protection</option>
                        <option value="04d0a93e-4e62-440a-a0c4-d968bcf0f543">Connecticut Department of Puclic Health</option>
                        <option value="8b2a7cba-32d6-4135-aa14-d0784b8dd1ab">Cowlitz Indian Tribe</option>
                        <option value="119b1957-437c-4d0f-8451-bd3679fbc0fc">Coyote Valley Band Of Pomo Indians</option>
                        <option value="ada99cc2-1e81-490b-a3b2-bb16b8fd83e1">DataBank</option>
                        <option value="ce6ff2ad-8fac-45e3-92a3-bd467ec9a178">DC Department of Energy and Environment</option>
                        <option value="67b86a6b-ba5d-4544-a21f-47fe5f795169">Delaware Department of Health and Social Services</option>
                        <option value="0b44fd79-3c89-44d4-b46d-4d338638d4be">Delaware Dept. of Natural Resources and Environmental Control</option>
                        <option value="cfe6eebe-8aea-47fe-b3f1-2076f42cfa18">Delaware Health and Social Services</option>
                        <option value="3bf4b2c2-436c-4e0f-924b-50659cd80f80">Delaware Tribe of Indians</option>
                        <option value="fbdffdcc-0545-4382-a1c8-1055bead1de7">District of Columbia Department of Health</option>
                        <option value="0b93f6fe-7027-4e17-8bdd-ec7036fd40dc">Eastern Research Group</option>
                        <option value="75010305-41c7-44b0-a8d4-f9d92e4b148b">Eight Northern Indian Pueblo Council</option>
                        <option value="c5b1fb2b-21af-4cdd-b9d5-f417be2faa76">Environmental Council of the States</option>
                        <option value="d667ed07-ccc9-45d5-81e9-3b7c2b085536">Environmental Policy Innovation Center</option>
                        <option value="f0a94107-c567-4a55-bb54-c9cdf7bdc8f0">EPA</option>
                        <option value="a0bdd187-1fea-4dea-9fc2-47aba1ac124b">Erie County Department of Health</option>
                        <option value="6ceffca1-f7af-4046-998d-029b9b3a5a4c">Fallon Paiute-Shoshone Tribe </option>
                        <option value="9c017c7f-af4b-4ff8-8195-86983b3f34f7">Florida Department of Environmental Protection</option>
                        <option value="c1705914-70f7-433b-afe7-088020e7044a">Florida Department of Health</option>
                        <option value="f56454f5-ce33-4dfe-8e32-cac7b4f63eaf">Flow West, Inc.</option>
                        <option value="3b1e4f44-a660-4524-914e-3ae90dd22ff9">Fond du Lac Band of Lake Superior Chippewa</option>
                        <option value="d2b33a31-f924-4f9d-8ea6-6384ae2afcef">Fort Peck Tribal Executive Board</option>
                        <option value="76b6a66f-9276-4e38-b235-651d314455b0">Galveston Bay Estuary Program</option>
                        <option value="f3d84f14-d2c8-4fa6-ad5f-890ce471d39c">Georgetown Tribal Council</option>
                        <option value="242c79ca-d676-47e5-bcb9-a8d81117e342">Georgia Department of Natural Resources</option>
                        <option value="33cbecaa-0ff6-4671-b2ef-ecc176f5cb2f">Georgia Division of Public Health</option>
                        <option value="9c3bba0b-a5de-44d4-8bb0-e3c86cc2f2b9">Gila River Indian Community</option>
                        <option value="8f7e5161-e1e5-432d-8052-cf357ad033de">Gila River Indian Community</option>
                        <option value="322a4d60-7850-41f7-b125-86e8c835eaa7">Gila River Indian Community</option>
                        <option value="84b83757-fc81-475c-b349-339cb131df50">Global Environmental Consulting</option>
                        <option value="c2d1aa78-94fc-4655-84b6-78690f8f4560">Grand Portage Band of Chippewa</option>
                        <option value="7451c6e4-64e2-42bd-9f8d-db70182867ed">Guam Environmental Protection Agency</option>
                        <option value="cbbd0b60-058c-4651-aee1-bd9b3134600e">Hamilton County Department of Environmental Services</option>
                        <option value="de990b57-ec8e-4a3d-87a1-323081180435">Hannahville Indian Community Council</option>
                        <option value="ecf30bd4-5944-4930-a1e7-1dc87b6dcf5f">Hawaii Department of Health</option>
                        <option value="b1087827-b3c2-4a1f-b72f-7b4b58ad9258">Hawaii Department of Land and Natural Resources</option>
                        <option value="6be5a54b-27d2-4dee-bec4-4441741f0212">Hennepin County </option>
                        <option value="96508ed3-e279-4a1a-98a5-32cd02daec11">Hoopa Valley Tribe</option>
                        <option value="257d3b13-d498-4969-ad11-101c128bd00f">Hualapai Department of Cultural Resources</option>
                        <option value="98dee2b1-ea02-4d4c-b1fd-409ddb9d3776">Hualapai Tribe</option>
                        <option value="ae4ddb57-12a0-4f6c-b97d-1bf2639565b6">IBM</option>
                        <option value="dad03ef5-edd5-4552-b550-933732c2a93c">Idaho Department of Environmental Quality</option>
                        <option value="67bb0ec1-0eb8-4898-be10-673d90f32dc3">Idaho Department of Health and Welfare</option>
                        <option value="a58ef011-665b-47f4-ace1-3c58c37f0aae">Idaho Department of Water Resources</option>
                        <option value="3b711bda-08d6-41f6-a50f-3d5c0606aae3">Illinois Department of Natural Resources</option>
                        <option value="59b3157d-4a84-4aeb-aa78-55d27891549b">Illinois Department of Public Health</option>
                        <option value="8e66cc6a-904f-4138-aeaf-f72cee44bf56">Illinois Environmental Protection Agency</option>
                        <option value="5044e6d6-d4e6-45c4-8d2c-bf716f26fdf4">Indiana Department of Environmental Management</option>
                        <option value="2be0ff0a-7f48-4373-9ef6-1db0a4821d6e">Indiana Department of Natural Resources</option>
                        <option value="c9c6a2d4-2bd4-43ec-8a7a-0cacaf9defd6">Indiana State Department of Health</option>
                        <option value="2bb1d2b1-1426-44ba-b8d7-116750f1dd60">Industrial Economics, Inc.</option>
                        <option value="a4b7540f-7b55-4989-a72b-019588a0c096">Institute for Tribal Environmental Professionals</option>
                        <option value="286045e6-1d29-4bbd-bef9-fd98c3cfbda4">Internal Revenue Service</option>
                        <option value="ea44fe4d-72ca-4b21-a815-f046afc12ee8">Iowa Department of Natural Resources</option>
                        <option value="558e1fca-ec9e-4c57-9411-d5f5f74d7a82">Iowa Office of the Chief Information Officer</option>
                        <option value="6857e103-91c6-435a-9525-0bac58748d37">Iowa Tribe of Oklahoma</option>
                        <option value="8808ab34-9b92-463d-9187-a26784a26662">Jamul Band Of Mission Indians</option>
                        <option value="08ce0ed3-5cfc-4ce1-bf94-77a479895327">Kansas Department of Health and Environment</option>
                        <option value="b1bf80ad-1528-4dd1-93d5-bf170fdb06a1">Kaw Nation of Oklahoma</option>
                        <option value="fef58c95-cbb8-41e5-9b71-b0835d6a93b0">Kentucky Department for Environmental Protection</option>
                        <option value="733c7f56-8c4b-48cb-a02c-26c81ad154e3">Kentucky Department for Natural Resources</option>
                        <option value="2880f509-105d-4261-a517-1b5df60644fd">Kentucky Department for Public Health</option>
                        <option value="f299570f-612a-40e6-8502-ff2a3cc32945">Kickapoo Tribe in Kansas</option>
                        <option value="33ffe335-ffa8-43eb-9251-ca8d26d298ef">Kootenai Tribe of Idaho</option>
                        <option value="760f2ab0-7463-4575-a823-68ae7870469b">Lake Michigan Air Directors Consortium</option>
                        <option value="49875c55-8775-4924-90e7-e43379ce7cf9">Linn County, IA</option>
                        <option value="ed2a5d14-b312-421c-b40b-d01df2a1227f">Lone Pine Paiute Shoshone Tribe</option>
                        <option value="7c4a6a16-976b-42ad-b65e-560f72a73712">Louisiana Department Health and Hospitals, Office of Public Health</option>
                        <option value="ac771054-cbea-40bf-954f-cecbd808e023">Louisiana Department of Environmental Quality</option>
                        <option value="c4084352-b16f-438f-a6dc-9aca01408926">Louisiana Department of Natural Resources</option>
                        <option value="509fdc14-9d45-4527-9c9e-f3ad4d4759a7">Louisville-Jefferson County Metro Government</option>
                        <option value="11fa01a9-5fcb-43bc-8582-c9a028143db8">Lummi nation</option>
                        <option value="6e5e0de3-fb4d-498e-9d27-b32c5e1efae9">Maine Department of Environmental Protection</option>
                        <option value="5722b697-f437-438f-9ac3-3d2b2443315e">Maine Department of Health and Human Services</option>
                        <option value="aa6ecbd5-2be3-4264-9d5f-e1ffae7a8727">Maricopa County</option>
                        <option value="83fe3e94-0783-441a-8d4f-fd29c55d4f36">Maricopa County Air Quality Department</option>
                        <option value="52a4e4c2-333b-455f-b443-8ad39ebfaa90">Maryland Department of Health and Mental Hygiene</option>
                        <option value="1010627b-2ff4-4a50-9c91-7e10505bd473">Maryland Department of Natural Resources</option>
                        <option value="c076dbf1-a9ec-4112-aef1-aba1852ae546">Maryland Department of the Environment</option>
                        <option value="1f4a5174-0465-45b9-a536-e83a31c80a90">Massachusetts Department of Environmental Protection</option>
                        <option value="8b14b2a8-4d0d-46da-85c3-5b1b870eb921">Massachusetts Department of Public Health</option>
                        <option value="bc09f627-5169-4bef-b4af-c97f5e7744ba">MassDEP</option>
                        <option value="866707a2-3ec4-432e-b3c1-c2bad775fd59">Mecklenburg County Air Quality</option>
                        <option value="7286fa6d-e2c6-4d24-a3d3-4ca90607843d">Michigan Department of Environment, Great Lakes, and Energy</option>
                        <option value="c8f7acc7-3b35-4e4c-9f0f-c8628138c86b">Michigan Department of Public Health</option>
                        <option value="f7425fdd-f4b2-4ec5-b8a5-f432ed8e2dbb">Mid-Atlantic Regional Air Management Association</option>
                        <option value="f5af2ed6-0fd8-4992-9d89-7fe07fd73427">Minnesota Department of Health</option>
                        <option value="3afbe6ea-6d42-45b0-bb2f-826a5c5c7bac">Minnesota Department of Natural Resources</option>
                        <option value="5968f3e2-2b3a-4511-b6b2-0544441943f1">Minnesota Pollution Control Agency</option>
                        <option value="66d34930-38aa-4b61-923e-80ccf5cc0d18">Mississippi Department of Environmental Quality</option>
                        <option value="3247cad6-a7cb-42e8-a4a6-a56d08f7bcee">Mississippi Department of Health</option>
                        <option value="2f91ab98-a24a-4b42-9ce0-ce407f56f10d">Missouri Department of Conservation</option>
                        <option value="c6549e0d-b436-4282-8558-9ce86c0cd341">Missouri Department of Health</option>
                        <option value="45c8dc25-9c6a-4574-943b-c56d6b5792c1">Missouri Department of Natural Resources</option>
                        <option value="5796a373-24a7-4b19-a40f-280cbfa9cfd8">Montana Department of Environmental Quality</option>
                        <option value="df10624a-7595-40fd-9183-b1dcce1bcfa0">Montana Department of Health</option>
                        <option value="22a405a1-d6a8-400b-bdca-f17f749e9b94">Montana Legislative Branch</option>
                        <option value="6915857f-7ddd-412d-adeb-417422d9833d">Muscogee (Creek) Nation</option>
                        <option value="1b4a172f-8231-42ef-ab49-b82eefc8eeae">National Association of Clean Air Agencies</option>
                        <option value="81d0c20e-bce6-41a4-820c-a4873b456c6f">National Association of County Agricultural Agents</option>
                        <option value="f163f4ef-f3e5-4ed9-b077-5746bcd84ffd">National Oceanic and Atmospheric Administration</option>
                        <option value="5c5c20f3-86d4-46ac-ad98-153ca3be6934">Native Village of Shungnak</option>
                        <option value="e1158f38-914c-4118-adc8-4c6598f8e9f8">Navajo Nation</option>
                        <option value="c7fb5e48-59d6-4529-bc71-15e6e8beb746">NavajoTUA - Navajo Tribal Utility Authority</option>
                        <option value="403d006b-3136-41b9-bc79-6aa433ba9804">Nebraska Department of Environment and Energy</option>
                        <option value="2dbcdf5a-c3c5-4b55-b031-4f90c97b6213">Nebraska Department of Health &amp; Human Services</option>
                        <option value="b46b8385-2fb0-436d-bbb6-d35c654e2bdb">Nevada Department of Conservation and Natural Resources</option>
                        <option value="7f1d261b-143a-4205-bacd-4b8ac5d31629">Nevada Division of Environmental Protection</option>
                        <option value="bf161db5-3613-4990-848c-d7b58dc65936">New Hampshire Department of Environmental Services</option>
                        <option value="864ed8a3-570f-4435-9650-c0ba4f4a8b60">New Hampshire Department of Health and Human Services</option>
                        <option value="cc297780-429c-4b2a-947d-3c05bc403005">New Hampshire Department of Information Technology</option>
                        <option value="8059cbcc-a469-474a-8f63-9d4ebae57edf">New Jersey Department of Environmental Protection</option>
                        <option value="19d698b8-9118-4380-b0a8-d3ff399f85f0">New Jersey Department of Health and Senior Services</option>
                        <option value="e7f7a1ba-de06-4b19-8dfc-87c486a98651">New Jersey Infrastructure Bank</option>
                        <option value="3fce3894-cd5c-4f22-80ea-187d30501b51">New Mexico Department of Health</option>
                        <option value="f2274d6d-319f-410d-b69c-a24aebc51869">New Mexico Environment Department</option>
                        <option value="98fbc3c5-e929-4bcf-ab2d-24dbc4d2ea0a">New York State Department of Environmental Conservation</option>
                        <option value="95017f29-956a-4fd8-9244-2ab1bf8232ea">New York State Department of Health</option>
                        <option value="e9557b4a-b7d4-40ce-a94c-55e1735ad0f3">Nez Perce Tribe</option>
                        <option value="e3e3b641-9cf2-4155-9a2a-6b35197b27c0">North Carolina Department of Environmental Quality</option>
                        <option value="d2a4ed4b-452a-45c0-b453-a8a49943f800">North Carolina Department of Information Technology</option>
                        <option value="fa5ef303-6050-4e76-9e7e-a2187f019ba8">North Dakota Department of Environmental Quality</option>
                        <option value="409680fc-b75a-4fe1-86c7-8c40db5b2801">Northeast States for Coordinated Air Use Management</option>
                        <option value="2e9b4c0f-4368-4780-a918-7a76c364d3e7">Northwest Clean Air Agency</option>
                        <option value="2b765879-e206-4024-9de6-0e0cd306f98f">Northwest Indian Fisheries Commission</option>
                        <option value="e7becb13-beb8-4a83-971e-1b954ede592e">Nottawaseppi Huron Band of the Potawatomi</option>
                        <option value="64aad561-187f-4f7c-aabc-a40b2391fdf6">Office of Management and Budget</option>
                        <option value="5cd419d8-eeab-4c58-b16a-b82411a4c11a">Ohio Department of Health</option>
                        <option value="e2474460-2ff7-4d90-828a-d301ffb6a127">Ohio Environmental Protection Agency</option>
                        <option value="6903db07-b266-4844-8651-3c2c1ebe0749">Oklahoma Corporation Commission</option>
                        <option value="9305d50e-9ee9-406c-9626-043286b3d0cf">Oklahoma Department of Environmental Quality</option>
                        <option value="cbeedd65-f882-4b7e-bb73-9e343b1cfe9f">Oklahoma State Department of Health</option>
                        <option value="0a2df506-9943-4e99-83d4-3d8afcec4f43">Oklahoma Water Resources Board</option>
                        <option value="bd7fabc5-7a42-4c00-abb1-63cb212297d8">Oneida Tribe of Indians of Wisconsin</option>
                        <option value="7e7050a5-5b4f-4bab-b1dd-10556bbd53ea">Onondaga Environmental Institute</option>
                        <option value="478226e7-6f5b-4fc6-9384-ddd458a5bc7e">Oregon Department of Environmental Quality </option>
                        <option value="fb99e853-7c6f-46df-8ac9-03961f638ca6">Oregon Department of Fish and Wildlife</option>
                        <option value="028a4e26-c913-4ad8-be30-cbc168f2fd3e">Oregon Department of Human Resources</option>
                        <option value="b7a78041-0f35-4120-94bd-1f87e648d65f">Owens Valley Indian Water Commission</option>
                        <option value="fc9743ba-cfb6-4d61-b66d-e6203f6a616c">Pennsylvania Department of Conservation and Natural Resources</option>
                        <option selected="selected" value="cbb2ccf0-5573-42e5-be85-de61a1a47f75">Pennsylvania Department of Environmental Protection</option>
                        <option value="6ea7e43f-72b0-46e7-8d31-b4cbaa62ad35">Pennsylvania Department of Health</option>
                        <option value="f4de99da-d25e-427a-befc-3a587453ae6d">Penobscot Indian Nation</option>
                        <option value="84a64cad-fe2e-4af0-8e23-2bbb608ac878">Poarch Band Of Creek Indians</option>
                        <option value="38111ce4-69be-4e68-bb83-be99f3f58001">Prairie Island Indian Community Land &amp; Environment Department</option>
                        <option value="7a76301a-baf6-4069-9f52-e5f6f0beb943">Private Home and Office</option>
                        <option value="af478c1c-f2bd-490c-88bb-ea20b5bc8282">Pueblo of Acoma</option>
                        <option value="8c6c286f-0771-4bed-bd35-428b529aa0f1">Puerto Rico Environmental Quality Board</option>
                        <option value="5e107403-b3af-4155-b8eb-d5b862aac81e">Puget Sound Clean Air Agency</option>
                        <option value="a74e9736-32f8-4085-8d34-aeb50f10b737">Purdue University</option>
                        <option value="16c7a16b-4dba-4bca-838e-d185cb9acbd2">Qawalangin Tribe of Unalaska</option>
                        <option value="60e2405d-b80b-4e72-a9d9-0160fbfadc27">Redwood Valley Little River Band of Pomo Indians</option>
                        <option value="f041953e-c32d-4a8f-a8fd-3d45b9500eef">Rhode Island Department of Environmental Management</option>
                        <option value="8cff73f3-beaa-453b-b378-7f71f1c1544d">Rhode Island Department of Health</option>
                        <option value="37e4b002-041c-4a93-ad8b-52497f279096">Saint Regis Mohawk Tribe</option>
                        <option value="549d6814-d8a7-4570-9dc8-cef89117731c">Salt River Pima-Maricopa Indian Comm</option>
                        <option value="a7a4853e-9b8b-4db0-99b7-3446662bb589">San Carlos Apache Tribe</option>
                        <option value="2da796a3-a9ee-4fc7-b316-fd09665ed614">Santa Ysabel Band of Diegueno Indians</option>
                        <option value="29a86d8b-a67f-4ffc-81b2-efa46f2d4b9a">Santee Sioux Nation of Nebraska</option>
                        <option value="a1d679b1-69b5-4c72-b015-c4f4e912f9aa">Santo Domingo Pueblo</option>
                        <option value="2e298385-bd3b-4ac1-af3b-fe01d4f35c62">Seldovia Village Tribe</option>
                        <option value="1d70eac6-c867-4d7b-9dae-e9711bc2ca11">Shoalwater Bay Indian Tribe</option>
                        <option value="1f6f8d95-2a3f-4b6e-b9dd-2f0f2d1f6cd2">Shoshone &amp; Northern Arapaho Tribe</option>
                        <option value="382ce943-637b-4d39-9f98-9398a2762bce">Shoshone-Bannock Tribes</option>
                        <option value="ace4f132-5857-4a51-ab4d-89bc8287556d">Snoqualmie Indian Tribe</option>
                        <option value="dd924e9e-71c9-42b8-933e-5ae732f727bf">Snoqualmie Tribe</option>
                        <option value="ecfda239-80b9-4a3b-9eb5-4fbdbae1901e">South Carolina Department of Health and Environmental Control</option>
                        <option value="1046b832-c104-468c-a318-8ac6be66ed30">South Carolina Department of Natural Resources</option>
                        <option value="9692a8a9-4722-4088-b92d-63857e33f645">South Dakota Department of Environment and Natural Resources</option>
                        <option value="8f4bcf7d-bd50-4527-8cd4-0d25decfc978">South Dakota Department of Health</option>
                        <option value="86357b3c-dbbb-42e2-b168-ece5f887d34b">Southeastern Air Pollution Control Agencies</option>
                        <option value="50c2c94f-e06e-42b3-a343-86f70eda5e3d">Southern Ute Indian Tribe</option>
                        <option value="6921fabf-0c61-423a-a7c4-c0f4148571a0">Southern Ute Tribe</option>
                        <option value="6ffbf5fc-c335-4d43-8d53-72335562b204">St. Croix Tribal Council</option>
                        <option value="9aa5c520-4fb4-4228-bc88-855a144ce5bc">State of Missouri</option>
                        <option value="fdcb211f-731b-450f-989f-f4270fbc86a6">Stillaguamish Tribe of Indians</option>
                        <option value="64dd77c4-ee64-403d-81d5-3b798ac773f8">Tanana Chiefs Conference</option>
                        <option value="330002b2-c25c-459c-a07c-ebaed89946c0">Taos Pueblo Environmental Office</option>
                        <option value="51b50328-9901-4f65-a0fe-d86389e97cd0">Tennessee Department of Environment and Conservation</option>
                        <option value="febc3ced-b015-49e9-8c86-0c7b276e0a81">Tennessee Department of Health</option>
                        <option value="202ef11f-8f4c-4ec0-bb1a-699bf56aa11e">Texas Commission on Environmental Quality</option>
                        <option value="80a68ead-3849-4772-9105-c51e22420cd9">Texas Department of Health</option>
                        <option value="17899e53-dd38-4bca-8160-2b73f5288562">Texas Department of State Health Services</option>
                        <option value="e0349391-b97a-4699-b237-ad15f9c487b8">Texas Water Development Board</option>
                        <option value="5135cde2-1395-40f5-86de-49772a45263a">The Washoe Tribe of NV &amp; CA </option>
                        <option value="943e9de4-2879-4bc2-89c1-651199145f79">Thlopthlocco Tribal Town</option>
                        <option value="7224b897-23d8-4b4f-9f26-e97991570d04">Tolowa Dee-Nii Nation</option>
                        <option value="af1f9f79-055f-4068-b5fe-ae9f346a8beb">U.S. Geological Survey</option>
                        <option value="a46b0485-eeaf-41a1-a456-cca70c1684b8">United South and Eastern Tribes Inc.</option>
                        <option value="d582c20d-4136-4d32-85b9-f55c74fb55c5">University of Illinois Urbana-Champaign</option>
                        <option value="cd0bb273-ec52-4a2f-a3ba-5f3b88c62682">University of North Carolina School of Government</option>
                        <option value="77379637-35ba-44c1-b84d-3f8fd7fc8564">US Department of Energy</option>
                        <option value="372fa67a-c911-4438-abe3-a389a875dd68">US Fish and Wildlife Service</option>
                        <option value="297e85fb-7a0a-4546-8b96-28c2a96e9a33">USDA NRCS</option>
                        <option value="bcf85ab9-e9f7-4a8c-9fe0-c56e8561fa61">Utah Department of Environmental Quality</option>
                        <option value="6e6e7cf9-a132-4bc6-ac2b-aac04816e962">Utah Department of Health</option>
                        <option value="cba7565d-5990-4903-a21c-908123d4d952">Vermont Agency of Natural Resources</option>
                        <option value="7d865532-e9cb-4b0c-9c5d-f61872088ec9">Vermont Department of Environmental Conservation</option>
                        <option value="069cc30e-6c8e-4e14-a791-2be0f695f758">Vermont Department of Health</option>
                        <option value="a35d14af-caa4-4b07-8f73-78d03e482712">Virginia Department of Environmental Quality</option>
                        <option value="de2fd948-3fa6-42ed-9134-05c0a4f2a0bd">Virginia Department of Health</option>
                        <option value="3b1690fb-13fd-4158-84b7-2010b0b093f4">WA State Pollution Liability Insurance Agency</option>
                        <option value="30ea63ff-59bc-4b5d-89c9-796257cc98e4">Walker River Paiute Tribe</option>
                        <option value="e6aea5da-4a27-43d4-836a-47c528dc45fe">Wampanoag Tribe of Gay Head (Aquinnah)</option>
                        <option value="b69be283-bc1f-4350-bc5e-250a0c1ace19">Washington Recreation and Conservation Office</option>
                        <option value="54a34b3a-7778-4ca6-93e8-420316ea2917">Washington State Department of Agriculture</option>
                        <option value="d8722012-7281-4874-9f6e-d95b093fa1e6">Washington State Department of Ecology</option>
                        <option value="bc191622-fdeb-4524-a8dc-ea817b098a6d">Washington State Department of Health</option>
                        <option value="4c952207-cc40-4273-ae39-26cc0ec55aad">Washington State Department of Natural Resources</option>
                        <option value="49d5f7e7-e909-4fd8-8799-6f7e18c3a133">Washington State Department of Natural Resources</option>
                        <option value="391603a8-680f-4c4f-844f-d073ec8fd40d">Washoe Tribe of Nevada &amp; California</option>
                        <option value="00535df7-f102-4693-a5e6-890c9ecd171c">West Virginia Department of Environmental Protection</option>
                        <option value="f3cb4cd8-dd29-4a12-b132-852914a11d41">West Virginia Department of Health and Human Resources</option>
                        <option value="c96b7589-99d8-44e9-9fb8-f14b3b6deb31">West Virginia University</option>
                        <option value="d8e32047-b655-44ed-bfef-942896dcac8d">Western States Air Resources Council</option>
                        <option value="1b2d21bd-af8e-4c7a-b4d5-883d034aebd1">Wisconsin Department of Natural Resources</option>
                        <option value="4d7daf92-970f-4a30-a546-29f4dd0b4862">Wyoming Department of Environmental Quality</option>
                        <option value="ea2538eb-af8d-4479-a848-65978697b8a5">Wyoming Department of Health</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>


    <div class="row">
        <div class="col-sm-12">
            <section class="panel panel-default">
                <div class="table-responsive">
                    <table class="table table-striped m-b-none" data-ride="datatables">
                        <thead class="thead-inverse">
                            <tr>
                                <th style="min-width: 70px;">Edit</th>
                                <th>Agency</th>
                                <th>Project</th>
                                <th>Expected Update</th>
                                <th>Actual Update</th>
                                <th>Update Text</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>
                                <a href="/Account/UserProfile/83?a=a" class="btn btn-rounded btn-xs btn-info"><i class="glyphicon glyphicon-pencil"></i></a>
                            </td>
                            <td>Ohio EPA</td>
                            <td>Example Project 2</td>
                            <td>1/1/2022</td>
                            <td style="background-color:red"></td>
                            <td style="background-color:red"></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="/Account/UserProfile/83?a=a" class="btn btn-rounded btn-xs btn-info"><i class="glyphicon glyphicon-pencil"></i></a>
                            </td>
                            <td>NJDEP</td>
                            <td>Example Project 1</td>
                            <td>1/1/2022</td>
                            <td style="background-color:lightgreen">1/1/2022</td>
                            <td style="background-color:lightgreen">Example update</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="/Account/UserProfile/83?a=a" class="btn btn-rounded btn-xs btn-info"><i class="glyphicon glyphicon-pencil"></i></a>
                            </td>
                            <td>NJDEP</td>
                            <td>Example Project 1</td>
                            <td>2/1/2022</td>
                            <td style="background-color:lightgreen">2/1/2022</td>
                            <td style="background-color:lightgreen">Example update</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="/Account/UserProfile/83?a=a" class="btn btn-rounded btn-xs btn-info"><i class="glyphicon glyphicon-pencil"></i></a>
                            </td>
                            <td>NJDEP</td>
                            <td>Example Project 1</td>
                            <td>3/1/2022</td>
                            <td style="background-color:lightgreen">3/1/2022</td>
                            <td style="background-color:lightgreen">Example update</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="/Account/UserProfile/83?a=a" class="btn btn-rounded btn-xs btn-info"><i class="glyphicon glyphicon-pencil"></i></a>
                            </td>
                            <td>NJDEP</td>
                            <td>Example Project 1</td>
                            <td>4/1/2022</td>
                            <td style="background-color:orange">4/15/2022</td>
                            <td style="background-color:orange">Example update</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="/Account/UserProfile/83?a=a" class="btn btn-rounded btn-xs btn-info"><i class="glyphicon glyphicon-pencil"></i></a>
                            </td>
                            <td>NJDEP</td>
                            <td>Example Project 1</td>
                            <td>5/1/2022</td>
                            <td style="background-color:orange"></td>
                            <td style="background-color:orange"></td>
                        </tr>
                    </table>
                </div>
            </section>
        </div>
    </div>

