@{
    ViewBag.Title = "Successfully Registered";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="box-forgot" style="display: block;">
    <h3>@ViewBag.Title</h3>
    <form class="form-forgot" novalidate="novalidate">

        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4><i class="fa fa-ok-sign"></i>Verification Required!</h4>
            <br />
            You will need to verify your account. Please <b>check your email</b> and click the link in the email to verify your account.
            <br/><br/>

            <!-- render the validation summary -->
            @Html.Partial("~/Views/Shared/_ValidationSummary.cshtml")
        </div>
        <div class="text-center">
            <a href="@Url.Action("Index", "Home") " class="btn btn-primary">Return to Home Page</a>
        </div>


    </form>
</div>

