@model EECIP.Models.vmAccountLostPassword
@{
    ViewBag.Title = "Forgot Password?";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="panel-body wrapper-lg">

    <!-- render the validation summary -->
    @Html.Partial("~/Views/Shared/_ValidationSummary.cshtml")

    <div class="form-group">
        Enter your e-mail address below to reset your password.
    </div>
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @id="norepostform" }))
    {
        <div class="form-group">
            <label class="control-label">Email</label>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg ", @type = "email", @placeholder = "test@example.com", @data_required = "true" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        @Html.ActionLink("Cancel?", "Login", new object { }, new { @class = "pull-right m-t-xs" })
    }

</div>
