<script src="@Url.Content("~/scripts/tinymce/tinymce.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    tinymce.init({
        selector: "textarea.rte",
        branding: false,
        skin: 'tinymce-5',
        plugins: [ 'link', 'lists', 'hr', 'code', 'wordcount', 'emoticons', 'textcolor'],
        //toolbar1: "emoticons bold italic underline strikethrough bullist numlist hr | link unlink code blockquote | formatselect | forecolor backcolor",
        toolbar: "emoticons bold italic underline strikethrough bullist numlist hr | link unlink code blockquote | blocks | forecolor backcolor removeformat",

        remove_linebreaks: false,
        relative_urls: false,
        remove_script_host: false,
        convert_urls: true,
        menubar: false,

       // content_css: app_base + "content/tinymce.css",
        height: 275,
        nonbreaking_force_tab: true
    });

</script>

<div class="tinymceholder">
    @Html.TextArea(string.Empty, new { @class = "rte" })
</div>
